Screen {
    background: #d3d4be;
    align: center middle;
}

Header {
    background: #333333;
    color: white;
    text-align: center;
    height: 3;
}

BS_CanvasContainer {
    border: round #45443a;
    width: auto;
    height: auto;
    padding: 1 3;
    align: center middle;
}

BS_CanvasContainer BS_Canvas {
    background: #241f31;
    border: inner #13101b;
    width: auto;
}

BS_CanvasContainer Label {
    color: #241f31;
    text-style: bold;
    background: cadetblue;
    width: auto;
}