Screen {
    background: black;
}

Button#BS_ExitApp {
    background: #FF5733;   /* A bright color for the button */
    color: white;           /* Button text color */
    border-radius: 5px;     /* Rounded corners */
    padding: 1, 2;          /* Button padding */
}

Header {
    background: #333333;
    color: white;
    text-align: center;
    height: 2;
}