Screen {
    background: #d3d4be;
    align: center middle;
}

Header {
    background: #333333;
    color: white;
    text-align: center;
    height: 3;
}

BS_Canvas {
    background: #241f31;
    border: inner #241f31;
}

BS_CanvasContainer {
    border: round #45443a;
    width: auto;
    height: auto;
    padding: 1;
}

BS_CanvasContainer > Label {
    color: #241f31;
    text-style: bold;
    width: auto;
}